black
bs4==0.0.2
fastapi==0.110.0
huggingface-hub==0.21.4
isort==5.13.2
langchain==0.1.17
langchain-community==0.0.36
langchain-core==0.1.50
langchain-text-splitters==0.0.1
langsmith==0.1.54
llama-cpp-python
nest-asyncio==1.6.0
numpy==1.24.4
pandas==2.0.3
pydantic-settings==2.2.1
pydantic_core==2.16.3
pymilvus
pymongo
pyngrok
python-telegram-bot
pyvi==0.1.1
rank-bm25==0.2.2
scrapyd==1.4.3
scrapyd-client==1.2.3
datasets # for sentence-transformers
sentence-transformers
tqdm==4.66.4
uvicorn==0.28.1
google-generativeai